@tailwind base;
@tailwind components;
@tailwind utilities;
/* App.css */
.grayscale {
    filter: grayscale(100%);
  }
  
  .floating-button {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .floating-button:hover {
    background-color: #0056b3;
    transform: translateY(-50%) scale(1.1);
  }
  